<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mittens</title>
</head>
<body>
  <div class="col-12">
    <div class="row align-items-start">
      <div class="card" *ngFor="let mitten of mittens">
        <img class="card-img-top" [src]="mitten.imageUrl" width="170" height="330" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{mitten.pname | uppercase}}</h5>
              <a type="button" routerLink="/mitten/{{mitten.id}}" class="text-white" [class.selected]="mitten === selectedMitten" data-toggle="modal" data-target="#exampleModal" (click)="onSelect(mitten)">
                <a href="">View More</a>
              </a>
              <div>
                <div style="background-color: #ffffff; padding: 2rem">
                  <button onclick="document.getElementById('id02').style.display='block'" class="btn btn-warning">
                    Add to Cart
                  </button>
                  <button type="button" class="btn btn-success">
                    Buy Now
                  </button></div>
                <!-- Modal -->
                <div class="modal bd-example-modal-lg" data-toggle="modal" data-target=".bd-example-modal-lg" id="exampleModal" *ngIf="selectedMitten">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header bg-info">
                        <button type="button" class="close" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-dark bg-light">
                        <h5 class="modal-title" id="exampleModalLabel" [innerText]="'Details of ' + selectedMitten.pname"></h5>             
                          <span class="d-block" alt="" >  
                            <img src={{selectedMitten.imageUrl}} >
                          </span>
                          <!-- view details -->
                          <div class="container-fluid">
                              <p class="font-weight-bold">PRICE <br>{{selectedMitten.price}}</p>
                              <p class="font-weight-bold">CLOSURE TYPE<br>{{selectedMitten.type}}</p>
                              <p class="font-weight-bold">MATERIAL<br>{{selectedMitten.material}}</p>
                              <p class="font-weight-bold">TYPE OF WASHING<br>{{selectedMitten.wash}}</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>