<div id="container">
  <aside>
    <header>
      <input type="text" placeholder="search">
    </header>
    <ul>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
        <div>
          <h2>Babify User 1</h2>
          <h3>
            <span class="status green"></span>online
          </h3>
        </div>
      </li>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_02.jpg" alt="">
        <div>
          <h2>Babify User 2</h2>
          <h3>
            <span class="status green"></span>online
          </h3>
        </div>
      </li>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_03.jpg" alt="">
        <div>
          <h2>Babify User 3</h2>
          <h3>
            <span class="status orange"></span>offline
          </h3>
        </div>
      </li>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_04.jpg" alt="">
        <div>
          <h2>Babify User 4</h2>
          <h3>
            <span class="status green"></span>online
          </h3>
        </div>
      </li>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_05.jpg" alt="">
        <div>
          <h2>Babify User 5</h2>
          <h3>
            <span class="status orange"></span>offline
          </h3>
        </div>
      </li>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_06.jpg" alt="">
        <div>
          <h2>Babify User 6</h2>
          <h3>
              <span class="status green"></span>online
          </h3>
        </div>
      </li>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_07.jpg" alt="">
        <div>
          <h2>Babify User 7</h2>
          <h3>
            <span class="status green"></span>online
          </h3>
        </div>
      </li>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_08.jpg" alt="">
        <div>
          <h2>Babify User 8</h2>
          <h3>
            <span class="status green"></span>online
          </h3>
        </div>
      </li>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_09.jpg" alt="">
        <div>
          <h2>Babify User 9</h2>
          <h3>
            <span class="status green"></span>online
          </h3>
        </div>
      </li>
      <li>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_10.jpg" alt="">
        <div>
          <h2>Babify User 10</h2>
          <h3>
            <span class="status orange"></span>offline
          </h3>
        </div>
      </li>
    </ul>
  </aside>
  <main >
    <header>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
      <div>
        <h2>Chat with Babify User 1</h2>
        <h3>already 5 messages</h3>
      </div>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
    </header>
    <ul id="chat">
      <li class="you">
        <div class="entete">
          <span class="status green"></span>
          <h2>Babify</h2>
          <h3>10:12AM, Today</h3>
        </div>
        <div class="triangle"></div>
        <div class="message" style="background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);">
          Does the item still avaible?
        </div>
      </li>
      <li class="me">
        <div class="entete">
          <h3>10:13AM, Today</h3>
          <h2>Babify</h2>
          <span class="status blue"></span>
        </div>         
        <div class="message" style="background-color:#98de5b">
          Hi, there! Yes the item is still available.
        </div>
      </li>
      <li class="me">
        <div class="entete">
          <h3>10:13AM, Today</h3>
          <h2>Babify</h2>
          <span class="status blue"></span>
        </div> 
        <div class="message" style="background-color:#98de5b">
          Click the buy now button, and place an order so I could pack it for you.
        </div>
      </li>
      <li class="you">
        <div class="entete">
          <span class="status green"></span>
          <h2>Babify</h2>
          <h3>10:15AM, Today</h3>
        </div>
        <div class="triangle"></div>
        <div class="message" style="background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);">
          Ok, I'll order this. Thank you!
        </div>
      </li>
      <li class="me">
        <div class="entete">
          <h3>10:17AM, Today</h3>
          <h2>Babify</h2>
          <span class="status blue"></span>
        </div>
        <div class="message" style="background-color:#98de5b">
          Click on the buy now button to order. Thank you!
        </div>
      </li>
    </ul>
    <footer>
      <textarea placeholder="Type your message"></textarea>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
      <a href="#">Send</a>
    </footer>
  </main>
</div>