<div class="container-fluid">
    <h3 class="display-4">Top References</h3>
    <hr class="my-4">
    <ul class="list-group list-group-flush">
        <a href="https://www.w3schools.com">
            <li class="list-group-item list-group-item-warning" >W3Schools Free Online Web Tutorials. (n.d.). https://www.w3schools.com/
            </li>
        </a>
        <a href="https://www.getbootstrap.com">
            <li class="list-group-item list-group-item-warning" >Contributors, M. O. J. T. a. B. (n.d.-b). Bootstrap. https://getbootstrap.com/
            </li>
        </a>
        <a href="https://www.amazon.com">
            <li class="list-group-item list-group-item-warning" >Amazon.com. Spend less. Smile more. (n.d.). https://www.amazon.com/
            </li>
        </a>
        <a href="https://www.youtube.com/watch?v=MHRyutCkjMI">
            <li class="list-group-item list-group-item-warning" >Xmori Tutorials. (2020, September 2). Angular Tutorial - 9 - Create a Contact Page and Contact Form [Video]. YouTube. https://www.youtube.com/watch?v=MHRyutCkjMI
            </li>
        </a>
        <a href="https://www.youtube.com/watch?v=R7s5I9H1H9s">
            <li class="list-group-item list-group-item-warning" >Let’s Program. (2022, September 13). Angular 14 Login and Signup Page | Bootstrap UI | Complete Authentication & Authorization Part 1 | [Video]. YouTube. https://www.youtube.com/watch?v=R7s5I9H1H9s
            </li>
        </a>
        <a href="https://codepen.io/shivnath25/pen/drWdNV">
            <li class="list-group-item list-group-item-warning" >Product Order Form - CodePen. (n.d.). Retrieved May 6, 2023, from https://codepen.io/shivnath25/pen/drWdNV 
            </li>
        </a>
        <a href="https://freefrontend.com/css-login-forms/">
            <li class="list-group-item list-group-item-warning" >29 CSS login / registration forms. Free Frontend. Retrieved May 6, 2023, from https://freefrontend.com/css-login-forms/ 
            </li>
        </a>
    </ul><br>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="about" role="button">Learn more</a>
    </p>
</div>