<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>References</title>
</head>
<body>
    <div class="container-fluid" style="background: #c8e8e9;">
        <h3 class="display-4"style=font-size:40px><strong>Top References</strong></h3>
        <hr class="my-4">
        <ul class="list-group list-group-flush">
            <a href="https://www.w3schools.com">
                <li class="list-group-item list-group-item-warning"style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);color:black" >W3Schools Free Online Web Tutorials. (n.d.). https://www.w3schools.com/
                </li>
            </a>
            <a href="https://www.getbootstrap.com">
                <li class="list-group-item list-group-item-warning"style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);color:black" >Contributors, M. O. J. T. a. B. (n.d.-b). Bootstrap. https://getbootstrap.com/
                </li>
            </a>
            <a href="https://www.amazon.com">
                <li class="list-group-item list-group-item-warning"style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);color:black" >Amazon.com. Spend less. Smile more. (n.d.). https://www.amazon.com/
                </li>
            </a>
            <a href="https://www.youtube.com/watch?v=MHRyutCkjMI">
                <li class="list-group-item list-group-item-warning"style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);color:black" >Xmori Tutorials. (2020, September 2). Angular Tutorial - 9 - Create a Contact Page and Contact Form [Video]. YouTube. https://www.youtube.com/watch?v=MHRyutCkjMI
                </li>
            </a>
            <a href="https://www.youtube.com/watch?v=R7s5I9H1H9s">
                <li class="list-group-item list-group-item-warning" style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);color:black">Let’s Program. (2022, September 13). Angular 14 Login and Signup Page | Bootstrap UI | Complete Authentication & Authorization Part 1 | [Video]. YouTube. https://www.youtube.com/watch?v=R7s5I9H1H9s
                </li>
            </a>
            <a href="https://codepen.io/shivnath25/pen/drWdNV">
                <li class="list-group-item list-group-item-warning" style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);color:black">Product Order Form - CodePen. (n.d.). Retrieved May 6, 2023, from https://codepen.io/shivnath25/pen/drWdNV 
                </li>
            </a>
            <a href="https://freefrontend.com/css-login-forms/">
                <li class="list-group-item list-group-item-warning" style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);color:black">29 CSS login / registration forms. Free Frontend. Retrieved May 6, 2023, from https://freefrontend.com/css-login-forms/ 
                </li>
            </a>
        </ul><br>
        <div class="footer">
            <a class="btn btn-warning btn-lg" href="about" role="button">Learn more</a>
        </div>
    </div>

</body>
</html>
