 <div id="id01" class="modal">
        <form class="modal-content animate">
        <div class="imgcontainer">
            <header style="background-color:#233839;color:#fff;">
                <span onclick="document.getElementById('id01').style.display='none'" class="close-button topright">&times;</span>
              </header>
        <img src="assets/logo.png" alt="Avatar" class="avatar"><br><BR>
        <h3><B>LOGIN FORM</B></h3>
        </div>
        <div class="container">
        <!-- Username -->
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <!-- Password -->
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <!-- Submit Button -->
        <button class="qwe2" type="submit">Login</button>
        <label>
        </label>
        </div>
        <div class="container" style="background-color: #ecfeff;">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
        </form>
        </div>
    