<body>
    <h2 style="text-align:center; width: auto; background-color: #17a2b8;margin: 3rem; padding: 2rem; color: white;">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="assets/logo.png" alt="Jane" style="width:100%">
          <div class="container">
            <h2>Jane Doe</h2>
            <p class="title">CEO & Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>jane@example.com</p>
            <div class="container" style="width: auto; text-align: center; font-size: 2rem;background-color: black;">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"> <i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                <a href="https://www.snapchat.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-snapchat"></i></a>
                <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
    
            </div>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="assets/logo.png" alt="Mike" style="width:100%">
          <div class="container">
            <h2>Mike Ross</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>mike@example.com</p>
            <div class="container" style="width: auto; text-align: center; font-size: 2rem;background-color:black">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"> <i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                <a href="https://www.snapchat.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-snapchat"></i></a>
                <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
    
            </div>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <img src="assets/logo.png" alt="John" style="width:100%">
          <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <div class="container" style="width: auto; text-align: center; font-size: 2rem;background-color:black;">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"> <i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                <a href="https://www.snapchat.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-snapchat"></i></a>
                <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
    
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-section">
        <h1>About Us Page</h1>
        <p>BabiFy is an E-shop that provides the needs of your baby in a convenient way</p>
        <p>BabiFy is an E-shop that provides the needs of your baby in a convenient way</p>
      </div>
    
    </body>