<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <!-- font ends here -->
  <title>About us page</title>
</head>
<body>
  <section class="banner">
    <div class="container">
      <h1>About us</h1>
      <p>BabiFy is an E-shop that provides the needs of your baby in a convenient way.</p>
    </div>     <!-- .container -->
  </section>  <!-- .banner -->
  <section class="first">
    <div class="container">
      <p>BabiFy was founded in 2023 by Dominic Laroya and Ericka Nasingao with a vision of building the best online store in the Cordillera for infant's clothing. Our goal is to inspire our customers by offering an exclusive shopping experience and excellent customer service with the best mixture of well-known and high-quality brands.<br><br> Our product assortment is comprised of baby clothes; babysuits, bibs, tshirts, pants, hats, mittens and much more for ages 0-2.<br><br>
        You can find BabyFy Online Shop, on your mobile or in our flagship store in <strong>HappyPlace 123.</strong></p>
      <a class="cta" href="home">Discover more ⟩</a>
    </div>
  </section>
  <section class="four">
    <div class="container">
      <div class="member">
        <img src="https://scontent.fcrk2-1.fna.fbcdn.net/v/t31.18172-8/13669514_999639906818473_8922801412445185062_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeH15G7v7pP1tMcyniC3ppKaMOUMQ5Zyjp4w5QxDlnKOnl6faNBsF37QKSzaAfZwjmOhlWpkohpUcZPitBsjaQA7&_nc_ohc=rgvVxvnYfhwAX8z0GLl&_nc_ht=scontent.fcrk2-1.fna&oh=00_AfD44BZSi8bnCkeUXMbhO1aWqRkNpXL9xejangg3h6f8Pg&oe=64795DBF">
        <h3>Nic Laroya</h3>
        <p><strong>CEO & Founder</strong></p>
        <p>Course: Bachelor of Science in Information Technology</p>
        <a href="https://www.gmail.com">20209220@s.ubaguio.edu</a>
        <div class="social">
          <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"> <i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
          <a href="https://www.snapchat.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-snapchat"></i></a>
          <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
      </div>  <!-- .member -->
      <div class="member">
        <img src="https://scontent.fmnl17-2.fna.fbcdn.net/v/t1.6435-9/79950003_1053727521667609_3098922623229231104_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEEAN3SXYVjGY2O3a1tV2HJO5Hf0ZXNhp87kd_Rlc2Gn0TosaPnToUwfE46AwH4uWeaVDMgGFhmCG96fyHmROCS&_nc_ohc=yF2LxFs1wqQAX-ehH3I&_nc_ht=scontent.fmnl17-2.fna&oh=00_AfCQvDwyAgnVFUiB65ylFGBDVFIZ7zkWeRolB3aeQd8jzw&oe=647ABCDF">
        <h3>Ericka Nasingao</h3>
        <p><strong>Designer</strong></p>
        <p>Course: Bachelor of Science in Information Technology</p>
        <a href="https://www.gmail.com">20217209@s.ubaguio.edu</a>
        <div class="social">
          <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"> <i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
          <a href="https://www.snapchat.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-snapchat"></i></a>
          <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
      </div>
    </div>
  </section>
  <section class="six">
    <div class="container">
      <h4>GET SOCIAL</h4>
      <p>Snap shots of your shopping spree and share the love with other parents online!</p>
      <p><i>Like us on Facebook and Follow our Instagram
        Use our official hashtags: #BiggestGrandestBabyFair #GrandBabyFair2023 #GBF2023 #GBF2023SMXClark #MomCardMadness #FlexYourHaul 
        <br><br>
        See you there!</i></p>
      <a class="cta" href="contact">Contact us »</a>
    </div>
  </section>
</body>
</html>