<body>
    <h2 style="text-align:center; width: auto; background-color: #17a2b8;margin: 3rem; padding: 2rem; color: white;">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="https://scontent.fcrk2-1.fna.fbcdn.net/v/t31.18172-8/13669514_999639906818473_8922801412445185062_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeH15G7v7pP1tMcyniC3ppKaMOUMQ5Zyjp4w5QxDlnKOnl6faNBsF37QKSzaAfZwjmOhlWpkohpUcZPitBsjaQA7&_nc_ohc=rgvVxvnYfhwAX8z0GLl&_nc_ht=scontent.fcrk2-1.fna&oh=00_AfD44BZSi8bnCkeUXMbhO1aWqRkNpXL9xejangg3h6f8Pg&oe=64795DBF" alt="Jane" style="width:100%; height: 25rem;">
          <div class="container">
            <h2>Nic Laroya</h2>
            <p class="title">CEO & Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>20209220@s.ubaguio.edu</p>
            <div class="container" style="width: auto; text-align: center; font-size: 2rem;background-color: black;">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"> <i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                <a href="https://www.snapchat.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-snapchat"></i></a>
                <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
    
            </div>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="assets/logo.png" alt="Mike" style="width:100%;height: 25rem;">
          <div class="container">
            <h2>xxxx xxxx</h2>
            <p class="title">xxxx xxxx</p>
            <p>xxxx xxxx xxxx xxxx xxxx xxxx</p>
            <p>xxxxxxxx</p>
            <div class="container" style="width: auto; text-align: center; font-size: 2rem;background-color:black">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"> <i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                <a href="https://www.snapchat.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-snapchat"></i></a>
                <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
    
            </div>
          </div>
        </div>
      </div>
      
      <div class="column">
        <div class="card">
          <img src="https://scontent.fcrk2-1.fna.fbcdn.net/v/t1.6435-9/79950003_1053727521667609_3098922623229231104_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGs6d3xaG2dwcRXzI9nQbDFO5Hf0ZXNhp87kd_Rlc2Gn6AqoLTHpFVZ2osFKlTSxY2-ibBMSDafiwPRvSjZHuz7&_nc_ohc=a4I0EG6zL6YAX-yPPxV&_nc_ht=scontent.fcrk2-1.fna&oh=00_AfCDpEWe3TYJ3sHhj1wFVH_srkY-s4tS7ZSOge6ucE7S-w&oe=64796B5F" alt="John" style="width:100%; height: 25rem;">
          <div class="container">
            <h2>Ericka Nasingao</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <div class="container" style="width: auto; text-align: center; font-size: 2rem;background-color:black;">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"> <i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                <a href="https://www.snapchat.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-snapchat"></i></a>
                <a href="https://www.instagram.com/"target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
    
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-section">
        <h1>About Us Page</h1>
        <p>BabiFy is an E-shop that provides the needs of your baby in a convenient way</p>
        <p>BabiFy is an E-shop that provides the needs of your baby in a convenient way</p>
      </div>
    
    </body>