<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Define the slideshow container -->
    <div id="slideshow">
        <div class="slide-wrapper">
            <div class="slide">
                <h1 class="slide-number">
                    <div class="" style="background-image: url(https://storage.sg.content-cdn.io/in-resources/970e7395-340c-42ff-aaba-320463e267f7/Images/userimages/Home/Babyshop%20webstore%20banner.png); height: 420px">
                        <div class="container text-center">
                            <h1><strong>BabiFy</strong></h1>
                            <button type="button" onclick="window.location.href='bodysuits';"  value="w3docs" class="btn btn-success">
                                Shop Now!
                            </button>
                        </div>
                    </div>
                </h1>
            </div>
            <div class="slide">
                <h1 class="slide-number">
                    <div class="" style="background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/t_social_share_1200x630_center,f_auto,q_auto:best/rockcms/2022-10/baby-names-b-cz-2x1-220913-27c5cd.jpg); height: 420px; width: 85rem;">
                        <div class="container text-center">
                        </div>
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h2>Our collections</h2>
        <div class="row">
            <div class="col">
                <a href="bodysuits">
                    <img src="https://cdn.shopify.com/s/files/1/0289/3371/8090/files/10_450x.png?v=1665326139" alt="">
                </a>                
            </div>
            <div class="col">
                <a href="bibs">
                    <img src="https://cdn.shopify.com/s/files/1/0289/3371/8090/files/20_450x.png?v=1665326207" alt="">
                </a>
            </div>
            <div class="col">
                <a href="hats">
                    <img src="https://cdn.shopify.com/s/files/1/0289/3371/8090/files/30_59f013fe-ac4c-45b1-82a4-e8ca4dd44e08_450x.png?v=1665330933" alt="">
                </a>
            </div>
            <div class="col">
                <a href="diapers">
                    <img src="//cdn.shopify.com/s/files/1/0289/3371/8090/files/BUNDLES_8f4f5afe-9190-4872-925a-94dbd0174beb_450x.png?v=1665330971" alt="">
                </a>              
            </div>
        </div>
    </div>
</body>
</html>

  
  
 
