body{
  background: #98de5b 74%;
}
/* Styling the area of the slides */
#slideshow {
 overflow: hidden;
  height: 440px;
  width: 1517px;

}
 
/* Style each of the sides
with a fixed width and height */
.slide {
  float: left;
  height: 440px;
  width: 1500px;
}
 
/* Add animation to the slides */
.slide-wrapper {
   
/* Calculate the total width on the
  basis of number of slides */
  width: calc(1500px * 3);
 
/* Specify the animation with the
  duration and speed */
  animation: slide 7s ease infinite;
}
 
/* Set the background color
of each of the slides */
.slide:nth-child(1) {
  background: green;
}
 
.slide:nth-child(2) {
  background: pink;
}
 
.slide:nth-child(3) {
  background: red;
}

 
/* Define the animation
for the slideshow */
@keyframes slide {
   
/* Calculate the margin-left for
  each of the slides */
  20% {
    margin-left: 0px;
  }
 
  40% {
    margin-left: calc(-1500px * 1);
  }
 
  60% {
    margin-left: calc(-1500px * 2);
  }
 
  /* 80% {
    margin-left: calc(-1500px * 3);
  } */
}
.container-fluid{
  padding: 1rem;
}
h1{
  font-family: cursive;
  font-size: 4rem;
}

.row{
  margin: 1rem;
}
h2{
  font-family: cursive;
  border-radius: 1px;
}
img{
  display: flex; 
  width: 92%;
  box-shadow:rgb(177, 139, 65);
}
img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
/* flash deals */
table{
  border: 2px solid; 
  background-color: rgb(16, 170, 5);
}
.card{
  height: 19rem;
}
.progress{
  height:2.5rem;
  border-radius: 2rem;
  
}
.progress-bar{
  color: white;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 12px;}

.table thead th {
  border-bottom: 1px solid #dee2e6; 
}

#carouselExampleIndicators {
  width: 950px;
 
  height: 300px;
  
 
  
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousel-indicators li {
  background-color: black;
}

