<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron" style="background-image: url(https://storage.sg.content-cdn.io/in-resources/970e7395-340c-42ff-aaba-320463e267f7/Images/userimages/Home/Babyshop%20webstore%20banner.png);
    height: 430px;">
        <div class="container text-center">
        <h1>BabiFy</h1>
    </div>
</div>
    <h4>BabiFy was founded in 2006 by Linn and Marcus Tagesson with a vision of building the best online store in the Nordics for children's clothing. Our goal is to inspire our customers by offering an exclusive shopping experience and excellent customer service with the best mixture of well-known and high-quality brands.<br><br> Our product assortment is comprised of baby and children's clothes, shoes, toys, strollers, car seats, maternity clothes, accessories and much more for ages 0-10.<br>
<br>
        You can find Babyshop online, on your mobile or in our flagship store in Drottninggatan 82, Stockholm. </h4>
      
      

  
    
 
