<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron" style="background-image: url(https://storage.sg.content-cdn.io/in-resources/970e7395-340c-42ff-aaba-320463e267f7/Images/userimages/Home/Babyshop%20webstore%20banner.png);
    height: 410px;">
        <div class="container text-center">
        <h1>BabiFy</h1>
        </div>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
 
</body>
</html>
