<div id="id03" class="modal">
    <form class="modal-content animate">
    <div class="imgcontainer">
        <header style="background-color:#233839;color:#fff;">
            <span onclick="document.getElementById('id03').style.display='none'" class="close-button topright">&times;</span>
          </header>
   <h2 style="background-color: #ecfeff; margin: 1rem;"><b>WELCOME TO BabyiFy</b>
    <h3>Registration Form</h3></h2><BR>
   
    </div>
    <div class="container">
    <!-- Username -->
    <label for="uname"><b>Enter your Name</b></label>
    <input type="text" placeholder="Username" name="uname" required>

    <label for="uname"><b>Middle Name</b></label>
    <input type="text" placeholder="Middle Name" name="uname" required>
    <!-- Password -->
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Password" name="psw" required><br>
    <form action="/action_page.php">
        <input type="file" id="myFile" name="filename">
      </form>
    <!-- Submit Button -->
    <button class="qwe2" type="submit">SignUp</button>
    <label>
     
    </label>
    </div>
    <div class="container" style="background-color: #ecfeff;">
    <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
    <span class="psw">Already have an account? <a routerLink="login">Login?</a></span>
    </div>
    </form>
    </div>
   