<nav class="navbar navbar-light bg-light justify-content-start">
  <a class="nav-link" routerLink="home">Home</a>
    <a class="nav-link dropdown-toggle " routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      All Categories
    </a>
    <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="bodysuits">Bodysuits</a>
      <a class="dropdown-item" routerLink="bibs">Bibs</a>
      <a class="dropdown-item" routerLink="mittens">Mittens</a>
      <a class="dropdown-item" routerLink="hats">Hats</a>
      <a class="dropdown-item" routerLink="blankets">Blankets</a>
      <a class="dropdown-item" routerLink="diaper">Cloth Diaper</a>
      <a class="dropdown-item" routerLink="pants">Pants</a>
      <a class="dropdown-item" routerLink="shirts">T-Shirts</a>
      <a class="dropdown-item" routerLink="jackets">Jackets</a>
    </div>
</nav>