body{
    font-family: tahoma;
    background: url("https://media.glamour.com/photos/63a34e7159865935c710d67f/1:1/w_1714,h_1714,c_limit/affordable%20baby%20clothes.png");
}
.card{
    max-width:20rem;
    min-height:25rem;
    margin: 8px;
}
button{
    margin:1rem;
}
.modal-header{
    background-color:#1cb2ba
}
.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.stars{
    color:var(--orange);
}
.form-group{
    background-color: #ffffff; margin-top: 3px;text-align: center;width: 20rem;padding-top: 3px; background-color: #28a745;
    color: black;
    font-weight: bold;
}
.well {
    background-color: #ffffee
  }
  
  #search {
    border: 1px;
  }  
  .search-btn {
    cursor:pointer;
    border-radius: 0 30px 30px 0; 
    background-color:#fff;
    color:#669;
  } 
  .text-center {
    color: #fff;
  }
