<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>bodysuits</title>
</head>
<body>
  <div class="container"style="width: 30rem;padding-top:3px">
    <div id="content">
        <div class="input-group text-center">
          <input type="text"  name="term"[(ngModel)]= "term" class="form-control search-form" placeholder="&#xF002; Search Bodysuits item here" style="font-family:Arial, FontAwesome;text-align: center;" />
        </div>    
  </div>
</div>
  <div class="col-12"  style="padding-left: 6.2rem;">
    <div class="row align-items-start">
      <div class="card" *ngFor="let bodysuit of bodysuits | filter : term">
        <img class="card-img-top" [src]="bodysuit.imageUrl" width="170" height="320" alt="Card image cap">
          <div class="card-body"style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);">
            <h5 class="card-title">{{bodysuit.pname | uppercase}}</h5>
              <a type="button" routerLink="/bodysuit/{{bodysuit.id}}" class="text-white" [class.selected]="bodysuit === selectedBodysuit" data-toggle="modal" data-target="#exampleModal" (click)="onSelect(bodysuit)">
                <a href="">View more...</a>
              </a>
              <div class="stars">               
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div>
                <div style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);">
                  <button type="button"data-toggle="modal" data-target="#cartModal" class="btn btn-warning" (click)="onSelect(bodysuit)"routerLink="/bodysuit/{{bodysuit.id}}">
                    Add to Cart
                  </button> 
                  <a href="buynow">
                    <button type="button" class="btn btn-success">
                      Buy Now
                    </button> 
                  </a> 
                </div>
              </div>

              <!-- Modal -->
              <div class="modal bd-example-modal-lg" data-toggle="modal" data-target=".bd-example-modal-lg" id="exampleModal" *ngIf="selectedBodysuit">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header bg-info"style="background-color: #08e1ae; background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);">
                      <h5 class="modal-title"  id="exampleModalLabel" [innerText]="'Details of ' + selectedBodysuit.pname  "></h5>             

                      <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-dark bg-light">
                        <span class="d-block" alt="" >  
                          <img src={{selectedBodysuit.imageUrl}} style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
                        </span>
                        <!-- view details -->
                        <div class="container-fluid">
                          <p class="font-weight-bold">PRICE <br>{{selectedBodysuit.price}}</p>
                          <p class="font-weight-bold">COLOR <br>{{selectedBodysuit.color}}</p>
                          <p class="font-weight-bold">MATERIAL<br>{{selectedBodysuit.material}}</p>
                          <p class="font-weight-bold">CLOSURE TYPE<br>{{selectedBodysuit.type}}</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>


  <!-- add to cart -->
  <div class="modal fade" id="cartModal" tabindex="-1"data-toggle="modal" role="dialog" aria-labelledby="exampleModalLabel" *ngIf="selectedBodysuit">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">
           BabiFy Shopping Cart
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-image">
            <thead>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Actions</th>
            </thead>
              
            <tr>
              <td class="w-25">
                <img src="{{selectedBodysuit.imageUrl}}" class="img-fluid img-thumbnail" alt="Sheep">
              </td>
              <td>{{selectedBodysuit.pname}}</td>
              <td>{{selectedBodysuit.price}}</td>
              <td class="qty"><input type="text" class="form-control" id="input1" value="1"></td>
              <td>{{selectedBodysuit.price}}</td>
              <td>
                <a href="#" class="btn btn-danger btn-sm">
                  <i class="fa fa-times"></i>
                </a>
              </td>
            </tr>
          </table> 
          <div class="modal-footer border-top-0 d-flex justify-content-between">
            <a href="bibs">
              <button type="button" class="btn btn-secondary">Close</button>           
            </a>           
            <a href="cart">
              <button type="button" class="btn btn-warning">Add To Cart</button>
            </a>            
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>