<div class="row">
    <!-- list of baby apparel categories -->
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-categories-list" data-toggle="list" routerLink="" role="tab" aria-controls="categories">Categories</a>
            <a class="list-group-item list-group-item-action list-group-item-info" id="list-bodysuits-list" data-toggle="list" routerLink="bodysuits" role="tab" aria-controls="bodysuits">BodySuits</a>
            <a class="list-group-item list-group-item-action list-group-item-info" id="list-bibs-list" data-toggle="list" href="#list-bibs" role="tab" aria-controls="bibs">Bibs</a>
            <a class="list-group-item list-group-item-action list-group-item-info" id="list-mittens-list" data-toggle="list" routerLink="mittens" role="tab" aria-controls="mittens">Mittens</a>
            <a class="list-group-item list-group-item-action list-group-item-info" id="list-hats-list" data-toggle="list" routerLink="hats" role="tab" aria-controls="hats">Hats</a>
            <a class="list-group-item list-group-item-action list-group-item-info" id="list-blankets-list" data-toggle="list" routerLink="#list-blankets" role="tab" aria-controls="blankets">Blankets</a>
            <a class="list-group-item list-group-item-action list-group-item-info" id="list-diapers-list" data-toggle="list" routerLink="diaper" role="tab" aria-controls="diapers">Cloth Diaper</a>
            <a class="list-group-item list-group-item-action list-group-item-info" id="list-pants-list" data-toggle="list" routerLink="pants" role="tab" aria-controls="pants">Pants</a>
            <a class="list-group-item list-group-item-action list-group-item-info" id="list-shirts-list" data-toggle="list" routerLink="shirts" role="tab" aria-controls="shirts">Shirts</a>
            <a class="list-group-item list-group-item-action list-group-item-info" id="list-jackets-list" data-toggle="list" routerLink="jackets" role="tab" aria-controls="jackets">Jackets</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-categories" role="tabpanel" aria-labelledby="list-categories-list">...</div>
          <div class="tab-pane fade" id="list-bodysuits" role="tabpanel" aria-labelledby="list-bodysuits-list">hello</div>
          <div class="tab-pane fade" id="list-bibs" role="tabpanel" aria-labelledby="list-bibs-list">
            <div class="container-fluid">
                <h2 class="lead">{{title}}</h2>
              
                <table class="table table-striped table-dark">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">PRODUCT NAME</th>
                      <th scope="col">PRICE</th>
                      <th scope="col">COLOR</th>
                      <th scope="col">MATERIAL</th>
                      <th scope="col">BRAND</th>
                      <th scope="col">TYPE</th>
                      <th scope="col">PATTERN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bib of bibs">
                      <th scope="row">{{bib.id}}</th>
                      <td>{{bib.pname | uppercase}}</td>       
                      <th>{{bib.price}}</th>
                      <th>{{bib.color}}</th>
                      <th>{{bib.material}}</th>
                      <th>{{bib.brand}}</th>
                      <th>{{bib.type}}</th>
                      <th>{{bib.pattern}}</th>
                      <td>
                        <!-- View Details -->
                        <a type="button" routerLink="/bib/{{bib.id}}" class="text-white" (click)="onSelect(bib)">
                          <span class="material-symbols-outlined">
                            visibility
                          </span>
                        </a>
              
                        <span class="material-symbols-outlined">
                          delete_forever
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <div class="col-10">
                <div class="row align-items-start">
                    <!-- adventure genre -->
                    <div class="card" style="width: 24rem;">
                        <img class="card-img-top" src="assets/adventure.jfif" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">The Three Musketeers</h5>
                            <!-- view details button -->
                            <!-- if the button is triggered it will show the hidden details -->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
                              View Details
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">The Three Musketeers</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Author: Alexandre Dumas<br>
                                    Genre: Historical novel, Adventure novel<br>
                                    Date Published: 1844<br><br>
                                    Synopsis:The Three Musketeers is a French historical adventure novel written in 1844 by French author Alexandre Dumas. It is in the swashbuckler genre, which has heroic, chivalrous swordsmen who fight for justice.
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>

          </div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
    </div>
</div>