body{
  font-family: Tahoma;
  background-color: #c8e8e9;;
} 
.container{
  width: 70%;
  padding: 3rem;
  margin-right: auto;
  margin-left: auto;
}
.table-image {
  border: 0;
  color: #666;
  font-size: 0.8rem;
}
td, thead {
  vertical-align: middle;
  text-align: center;
  font-size: 1rem;
}
.price {
  margin-left: 1rem;
}
.modal-footer {
  padding-top: 0rem;
}
.modal-header{
  background-color:#1cb2ba
}