<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">
        BABIFY Shopping Cart
        </h5>
        <a href="home">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </a>
      </div>
      <div class="modal-body">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="w-25">
                <img src="assets/hats/hat1.jpg" class="img-fluid img-thumbnail" alt="Sheep">
              </td>
              <td>Knot Beanie Hats Soft for Infant Baby</td>
              <td>₱569</td>
              <td class="qty"><input type="text" class="form-control" id="input1" value="1"></td>
              <td>₱569</td>
              <td>
                <a href="#" class="btn btn-danger btn-sm">
                  <span class="material-symbols-outlined" style="color: rgb(255, 255, 255);">
                    delete
                  </span>
                </a>
              </td>
              
            </tr>
            <tr>
              <td class="w-25">
                  <img src="assets/bibs/bib1.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>Silicone Baby Bibs Easily Wipe Clean</td>
                <td>₱199</td>
                <td class="qty"><input type="text" class="form-control" id="input1" value="2"></td>
                <td>₱398</td>
                <td>
                  <a href="#" class="btn btn-danger btn-sm">
                    <span class="material-symbols-outlined" style="color: rgb(255, 255, 255);">
                      delete
                    </span>
                  </a>
                </td>
            </tr>
            <tr>
              <td class="w-25">
                  <img src="assets/blankets/blanket1.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>Baby Want Designs Baby Swaddle Blanket</td>
                <td>₱420</td>
                <td class="qty"><input type="text" class="form-control" id="input1" value="4"></td>
                <td>₱1,680</td>
                <td>
                  <a href="#" class="btn btn-danger btn-sm">
                    <span class="material-symbols-outlined" style="color: rgb(255, 255, 255);">
                      delete
                    </span>
                  </a>
                </td>
            </tr>
            <tr>
              <td class="w-25">
                  <img src="assets/bodysuits/suit1.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>The Peanutshell Newborn Layette Gift</td>
                <td>₱1,200</td>
                <td class="qty"><input type="text" class="form-control" id="input1" value="1"></td>
                <td>₱1,200</td>
                <td>
                  <a href="#" class="btn btn-danger btn-sm">
                    <span class="material-symbols-outlined" style="color: rgb(255, 255, 255);">
                      delete
                    </span>
                  </a>
                </td>
            </tr>
          </tbody>
        </table> 
        <div class="d-flex justify-content-end">
          <h5>Total: <span class="price text-success">₱3,847</span></h5>
        </div>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-between">
        <a href="home">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </a>      
        <a href="buynow">
          <button type="button" class="btn btn-success">Check Out</button>
        </a>
      </div>
    </div>
  </div>
  
</body>
</html>